{% extends "base.html.twig" %}

{% block title %}API Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1> Api Index </h1>
        <div class="row">
            <ul>
                <li> <a href="{{path('api_qoute')}}"> Get an random quote /api/quote </a> </li>

                <li>
                    <form method="GET", action="">
                        <input type="submit" name="deck" value="Get Deck"
                            onclick="this.form.action='{{ path('api_deck_get') }}';"
                        ><br>
                    </form>
                </li>
                <form method="POST", action="">
                    <li>
                        <input type="submit" name="shuffle" value="Shuffle"
                            onclick="this.form.action='{{ path('api_deck_shuffle') }}';"
                        >
                    </li>
                    <li>
                    <input type="submit" name="draw" value="Draw"
                        onclick="this.form.action='{{ path('api_deck_draw') }}';"
                    >
                    </li>
                    <li>
                    <input type="submit" name="draw_multi" value="Draw/5"
                        onclick="this.form.action='{{ path('api_deck_draw_multi', {number:5}) }}';"
                    >
                    </li>
                    <li>
                    <input type="submit" name="draw_players" value="Draw/2/5"
                        onclick="this.form.action='{{ path('api_deck_draw_player', {players: 2, number: 5}) }}';"
                    >
                    </li>
                </form>
            </ul>
        </div>
        <div class="row">
            <p>
                Jag har valt att gör en stor klass som tar hand om alla kommandon.
                För att skapa ett nytt deck används konstruktorn för klasses till.
                Som gör att det räcker att göra $deck = new Deck(); för att få ett nytt deck.
                Konstruktorn ger tillbaks en array med två delar "suit" och "rank" för att kunna senare sotera
                kvarstånde lättare i framtiden.
                Sen har jag en suffle function som blandar kortleken.
                Sedan har jag en deal function som delar ut kort baserat på argumentet som standard är 1 om argumentet är null.
                Har en sort function så jag kan sotera kvarstånde av kortleken på /card/deck delsidan.
                Sedan har jag tre olika Tostring funktioner beronde på vad ska göra. Ena är för hela kortleken,
                sedan har jag en för valda kort som fungerar med card/draw/... som gör att den bara visar
                de kort som skickas med i arguemntet. Till sist har jag en del håller koll på kortutdelningen av
                när man har flera spelare. Sista funktionen är räknare som räknar ut hur många kort som är kvar i kortleken.
            </p>
        </div>
    </div>
{% endblock %}