{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1> Card Index </h1>
        <div class="row">
            <ul>
                <li> <a href="{{ path('card') }}">/card </a> </li>
                <li> <a href="{{ path('cardDeck') }}">/card/deck </a> </li>
                <li> <a href="{{ path('cardShuffle') }}">/card/shuffle </a> </li>
                <li> <a href="{{ path('cardDraw') }}">/card/draw </a> </li>
                <li> <a href="{{ path('cardDraw') }}/4">/card/draw/:number </a> </li>
                <li> <a href="{{ path('cardDraw') }}/2/5">/card/draw/:players/:number </a> </li>
            </ul>
            <strong> Nuvarrande funktionalitet följde ej detta! Kommer att ändras i kmom03 </strong>
        </div>
        <div class="row">
            <p>
                Mina klasser fungerar på följande sätt.
                Card är ett klass som skapar spelkorten som tar emot två variabler $suit och $rank.
                Dessa två variabler blir sedan en key: value lista som retunerar objectet till konstruktion
                för deck. funktionerna för card getSuit() och getRank() returnerar icon som ändras betonde på värdet.
                T.ex. om ranken på ett kort är 1 så omvandlar den till A samma process händer med 11,12,13 och för suits.
                <br><br>
                Deck fungerar genom att skapa hela decket vid construction som bli alla kort utan jokrar. 
                De skapar i ordning med primär sort av suit sedan vädet på kortet.
                shuffle() ändras ordningen på korten som när man blandar.
                deal(n) get ut kort till variablen som tar emot värdet. Som i detta fall bli en spelars hand.
                Under deal tas det kort bort som delas ut och argumentet n är en int som står för hur många kort som ska delas ut.
                sort() Soterar tillbaka decket för card/deck sidan som gör att den soterar alla kort som är kvar i primär ordning av suit
                och sekundär ordning värdet. 
                <br><br>
                CardHand klasses är en spelares hand som behåller spelarens kort mängd och vilka kort den har.
                Den tar emot kort genom addCard($cards) funktionen där $cards kan vara flera kort eller bara en.
                Den ska ta emot en lista. getCards() är en funktion som omvandlar kortens variabler till symboler.
                Genom att kalla på funktionerna Card->getSuit() och Card->getRank().

            </p>
        </div>
        <div class="row">
            <img src="{{ asset('img/flowchart.drawio.svg')}}"
        </div>
    </div>
{% endblock %}