{% include 'incl/header.twig' %}


    <body style="text-align: center;">
    {% include 'incl/nav.twig' %}


        <article>
            <h1>Välkommen till cards för kmom02</h1>

            <div class="cards">
                <p>
                    Kmom02 <br>
                    <ul>
                        <li> <a href="{{ asset("card/deck") }}">Soterad kortlek (/card/deck)</a> </li>
                        <li> <a href="{{ asset("card/shuffle") }}"> Blanda kortleken (/card/shuffle)</a> </li>
                        <li> <a href="{{ asset("card/draw") }}"> Dra ett kort (/card/draw)</a> </li>
                        <li> <a href="{{ asset("card/draw/1") }}"> Dra flera kort (/card/draw/:antal)</a> </li>
                        <li> <a href="{{ asset("card/deck/deal/2/1") }}"> Dra kort med spelare (/card/deck/deal/:players/:cards)</a> </li>
                        <li> <a href="{{ asset("card/deck2") }}"> Soterad kortlek med Joker (/card/deck2)</a> </li>
                    </ul>
                </p>
                <p>
                    Kmom02 API <br>
                    <ul>
                        <li> <a href="{{ asset("card/api/deck/") }}">Soterad kortlek (/card/api/deck/)</a> </li>
                        <li> <a href="{{ asset("card/api/deck/shuffle") }}"> Blanda kortleken (/card/api/deck/shuffle)</a> </li>
                        <li> <a href="{{ asset("card/api/deck/draw") }}"> Dra ett kort (/card/api/deck/draw)</a> </li>
                        <li> <a href="{{ asset("card/api/deck/draw/1") }}"> Dra flera kort (/card/api/deck/draw/:number)</a> </li>
                        <li> <a href="{{ asset("card/api/deck/deal/2/1") }}"> Dra kort med spelare (/card/api/deck/deal/:players/:cards)</a> </li>
                    </ul>
                </p>
                <p>
                    Kmom03 Blackjack <br>
                    <li> <a href="{{ asset("game/home")}}"> Landindssida för game  (/game/home/) </a> </li>
                    <li> <a href="{{ asset("game/blackjack")}}"> BlackJack  (/game/blackjack/) </a> </li>
                </p>
            </div>
            <br>
        </article>
        {% include 'incl/footer.twig' %}
    </body>
</html>