{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Blackjack</h1>
        </div>
        <div class="blackjackResult">
            <div class="result">
                <h3> {{result|raw}} </h3>
            </div>
        </div>
        <div class="blackjackDealer">
            <div class="dealer">
                <h3> Dealer </h3>
                {{dealerCard|raw}}<br>
                {{dealer|raw}}
            </div>
        </div>
        <div class="blackjackPlayers">
            <div class="players">
                <h3> Player </h3>
                {{playerCard|raw}} <br>
                {{player|raw}} <br>
                {% if buttons == true %}
                <br>
                <a href='{{path('blackjackHit')}}'> Hit </a> <br><br>
                <a href='{{path('blackjackStand')}}'> Strand </a>
                {% endif %}
                {% if gameStatus == "gameOver" %}
                <br>
                <a href='{{path('blackjackReset')}}'> Start new game </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}