<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <?php define('BASE_URL', 'http://localhost:8888/~osay21/dbwebb-kurser/mvc/me/report/') ?>
            <img class="icon" src="{{ asset('img/bth_logga.png')}}">
            <nav>
                <ul>
                    <li><a href=" {{ path('index') }} ">Index</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('report') }}">Report</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky</a></li>
                    <li><a href="{{ path('apiIndex') }}">API</a></li>
                    <li>
                        <select onchange="window.location.href=this.value;">
                            <option disabled selected>Cards</option>
                            <option value="{{ path('card') }}">/card </option>
                            <option value="{{ path('cardDeck') }}">/card/deck </option>
                            <option value="{{ path('cardShuffle') }}">/card/shuffle </option>
                            <option value="{{ path('cardDraw') }}">/card/draw </option>
                            <option value="{{ path('cardDraw') }}/4">/card/draw/:number </option>
                            <option value="{{ path('cardDraw') }}/2/5">/card/draw/:players/:number </option>
                        </select>
                    </li>
                    <li>
                        <select onchange="window.location.href=this.value;">
                            <option disabled selected>Game</option>
                            <option value="{{ path('blackjackIndex') }}">/game </option>
                            <option value="{{ path('blackjackDoc') }}">/game/doc </option>
                            <option value="{{ path('blackjack') }}">/game/blackjack </option>
                        </select>
                    </li>
                    <li>
                        <select onchange="window.location.href=this.value;">
                            <option disabled selected>Library</option>
                            <option value="{{ path('app_library') }}">/library</option>
                            <option value="{{ path('library_create') }}"> /library/create </option>
                            <option value="{{ path('library_show_all') }}"> /library/show </option>
                            <option value="{{ path('library_reset') }}"> /library/reset </option>
                            <option value="{{ path('api_library_books') }}"> /api/library/books </option>
                            <option value="{{ path('api_library_book', {'isbn': '101'}) }}"> /api/library/book/:ISBN</option>
                            
                        </select>
                    </li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <div class="footer">
            <p>&copy; Oscar Wystråle</p>
        </div>
    </body>
</html>
